* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Norsefont;
  src: url(./fonts/norse/Norsebold.otf);
}

body {
  height: 100vh;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  width: 70%;
  border: 2px solid red;
  height: 100%;
}

.bg-image-container {
  min-width: 480px;
  height: 100%;
  position: relative;
}

.photo-credit {
  position: absolute;
  bottom: 0;
  color: white;
  left: 140px;
}

.photo-credit > a {
  color: white;
}

.background-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.logo-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 100%;
  top: 200px;
  left: 0;
  display: flex;
}

.odin-logo {
  position: relative;
  width: 80px;
  height: 100px;
  left: 100px;
}

.logo-text {
  position: relative;
  color: white;
  font-family: Norsefont;
  left: 120px;
  top: 15px;
  font-size: 4.5rem;
}

/*USER FORM*/
.form-container {
  width: 100%;
  height: 100%;
  background-color: #f9fafb;
  display: flex;
  align-items: center;
}

.header-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 100%;
  background-color: white;
  box-shadow: 0 3px 2px #d1d1d1;
  font-family: Arial, Helvetica, sans-serif;
}

.form-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.field-container > div > label {
  font-size: 0.8rem;
  padding: 5px 0;
  font-weight: bold;
}

.field-container > div > input {
  padding: 5px 3px;
}

.field-container {
  display: flex;
  gap: 1rem;
}

.field-container > div {
  display: flex;
  flex-direction: column;
}

.action-container {
  padding: 20px;
}

.action-container > p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

.create-acc-btn {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #596d48;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
